/* General CSS */
html {
  height: 100%;
  width: 100%;
  background-image: url('../img/background.jpg');
  background-size: cover;
  user-select: none;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

input,
button,
p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
select {
  font-family: monospace;
}

.login {
  background-color: rgba(255, 255, 255, 0.552);
  max-width: 30vw;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 160px);
  height: 100px;
  width: 320px;
  padding: 5px;
  border: 5px solid black;
  background-blend-mode: multiply;
}

.login p {
  margin: 5px;
  padding: 0;
}

.body {
  position: absolute;
  top: 30px;
  min-height: calc(100vh - 100px);
  min-width: 100vw;
  max-width: 100vw;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  background-color: black;
}

.header p {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  color: white;
  padding-left: 5px;
}

#usernameTooltip {
  color: 'white';
  display: 'none';
}

.footer {
  padding-left: 2vw;
  box-sizing: border-box;
  gap: 5px;
  align-items: center;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(71, 92, 129, 0.435);
}

.footerLine {
  position: relative;
  background-color: black;
  height: 80%;
  width: 2px;
}

/* Application CSS */
.app {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 5px solid black;
  background-color: rgb(255, 235, 205);
  min-width: 300px;
}

.appMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.appHeader {
  height: 40px;
  width: auto;
  background: grey;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.appButtonContainer {
  display: flex;
}

.appCloseButton {
  color: rgb(164, 164, 164);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 30px;
  height: 30px;
  background: black;
  position: absolute;
  right: 5px;
  border-radius: 20%;
  border: 2px solid black;
}

.appCloseButton:hover,
.appMinimizeButton:hover {
  color: black;
  background-color: red;
}

.appCloseButton > button {
  display: none;
}

.appMinimizeButton {
  color: rgb(164, 164, 164);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 30px;
  height: 30px;
  background: black;
  position: absolute;
  right: 40px;
  border-radius: 20%;
  border: 2px solid black;
}

.appMinimized {
  display: none;
}

.applicationIcon {
  box-sizing: border-box;
}

.applicationIcon:hover {
  cursor: pointer;
}

/* Application Chat CSS */
.messagesDiv {
  position: relative;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: white;
  width: 215px;
  margin-bottom: 10px;
  max-height: 200px;
  height: 200px;
  overflow-y: scroll;
}

#usernameChat:hover {
  cursor: pointer;
  color: darkblue;
}

#chat p {
  margin-top: 0;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px dotted black;
}

.inputDiv {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

/* Application Memory CSS */
.memoryWinMessage {
  background: 'brown';
  position: 'absolute';
  top: '65px';
  left: '55px';
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
}

.memoryButtonContainer {
  width: 200px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
}

.memoryButtons {
  width: 48px;
  height: 48px;
  background-image: url(../img/memory/rnone.png);
  background-size: cover;
  border: 1px solid black;
}

.memoryButtons:hover {
  cursor: pointer;
  border: 1px solid red;
}

.memoryButtons button {
  display: none;
}

#myList,
#gameStyle {
  text-align: center;
  width: 98px;
}

select:hover {
  cursor: pointer;
  border: 1px solid red;
}

select {
  appearance: none;
}

/* Application Battleship CSS */
.battleshipButtonContainer {
  width: 200px;
  padding-left: 10px;
  padding-right: 10px;
}

.battleshipBoardCell {
  width: 24px;
  height: 24px;
  background-image: url(../img/battleship/none.png);
  background-size: cover;
  border: 1px solid black;
}

.battleshipGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.battleshipGameBody {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.boardRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
